{% load staticfiles %}
<html>
    <head>
        <title>Marek Gieroń</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">nazwa...</a></h1>
        </div>
        <div class="content container">
        <div class="menu">
        {% block nav %}
        <ul id="nav">
            <li>{% block nav-home %}<a href="{% url 'about_show' %}">O mnie</a>{% endblock %}</li>
            <li>{% block nav-author %}<a href="{% url 'post_list' %}">Współpraca z autorami</a>{% endblock %}</li>
            <li>{% block nav-books %}<a href="{% url 'project_list' %}">Zrealizowane projekty</a>{% endblock %}</li>
            <li>{% block nav-others %}<a href="{% url 'other_list' %}">Projekty specjalne</a>{% endblock %}</li>
            <li>{% block nav-contact %}<a href="{% url 'post_list' %}">Kontakt</a>{% endblock %}</li>
        </ul>
        {% endblock %}
        </div>
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
